<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>Search contacts</title>
</head>
<body>
<div id="content" >
    <div th:if="${loggedInUser}">
        <div th:replace="~{user/sidebar::sidebar}"></div>
    </div>
    <div class="sm:pl-64 pt-20" style="height: 1000px">
        <div class="flex items-center justify-center md:pt-32 flex-col">
            <h1>welcome to Search result</h1>
            <h2> provieed by sumit</h2>
        </div>
    </div>
</div>
<script>
    console.log("this is Dashboard page");
</script>
</body>
</html>